<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TiendaTec.Properties.Settings.TiendaTecConnectionString"
            connectionString="Data Source=DESKTOP-GG28LR0\TBD_EMHF_23;Initial Catalog=TiendaTec;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>